@import "tailwindcss";
@import 'tailwind-animations';

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    /* IE y Edge */
    scrollbar-width: none;
    /* Firefox */
}

.scroll-estilado::-webkit-scrollbar {
    width: 10px;
}

.scroll-estilado::-webkit-scrollbar-track {
    background: black;
}

.scroll-estilado::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, rgba(5, 43, 114, 0.808), rgba(0, 77, 221, 0.993));
    border-radius: 15px;
    border: 4px solid black;
    cursor: pointer;
}

select {
    border: none !important;
}

select option {
    background-color: #0f172a;
    /* slate-900 */
    color: #e5e7eb;
    /* slate-200 */
    cursor: pointer;
    border: none
}

select option:hover {
    background-color: #1e40af;
    /* blue-800 */
    color: white;

    cursor: pointer;
}

select option:checked {
    background-color: #2563eb;
    /* blue-600 */
    color: white;
}

select:focus + svg {
    transform: translateY(5%) rotate(180deg);
}